<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>聊天室</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  h1 {
    text-align: center;
  }
</style>
<body>
 <div class="container">
   <h1>注册</h1>


   <form class="form-horizontal" role="form" onsubmit="return false">
    <div class="form-group">
    <label for="username" class="col-sm-2 control-label">用户名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
      </div>
    </div>
    <div class="form-group">
      <label for="pwd" class="col-sm-2 control-label">密码</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pwd" placeholder="密码" name="pwd">
      </div>
    </div>
    
    <div class="form-group">
  <label for="pwd1" class="col-sm-2 control-label">确认密码</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="pwd1" placeholder="确认密码" name="pwd1" >
  </div>
</div> 

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" id='register'>注册</button>
        <a href="/" class="btn btn-default">登录</a>
      </div>
    </div>
  </form>

</div>
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){
  $('#register').click(function(){
    const username = $('#username').val();
    const pwd = $("#pwd").val();
    const pwd1 = $("#pwd1").val();
      if(!username){
         $("#username").css("border","1px solid red");
         alert('用户名不能为空');
         return;
      } else if(!pwd){
        alert('密码不能为空');
      } else if(pwd != pwd1){
       $("#pwd").css("border","1px solid red");
       $("#pwd1").css("border","1px solid red");
       alert("两次输入密码不一致!");
    } else {
      const data = {'username':username,'pwd':pwd}
        $.ajax({
            url:'/register',
            data:data,
            type:'post',
            success: function(data,status){ 
                    if(status == 'success'){ 
                        location.href = '/';
                    }
                },
              error: function(data,err){ 
                        location.href = 'register';
                }
        });
    }
  });
});
</script>
</body>
</html>
